/*
*
*
* OUTILS
*
*
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@500&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border-radius: 25px;
    border: 1px solid white;
    padding: 0.5em 3em;
}

.cta {
    border: none;
    background-color: #FFCF56;
    color: #474350;
}

.validation{
    background: #86BAA1;
    width: 100%;
    margin-top: 4em;
    padding: 2em;
}

.card {
    background-color: white;
    border-radius: 25px;
    /* height: 555px; */
    width: 30%;
}

.cardTitle {
    margin-top: 1em;
    margin-left: 2em;
    color: #474350;
}


/*
*
*
* GLOBAL
*
*
*/

*
{
    margin: 0;
    padding: 0;
}

body {
    background-color: #625D6F;
    font-family: 'Open Sans', sans-serif;
    font-size: 20;
}

header {
    background-color: #474350;
    color: white;
}

main {
    width: 90%;
    margin: 0 auto;
}

main > div {
    margin-top: 3em;
}

/* TYPOGRAPHIE */

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 72;
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 48;
}

h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32;
}

h4 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24;
}

a{
    text-decoration: none;
    color: #474350;
}

em {
    font-style: italic;
}

b {
    font-weight: bold;
}

/* LISTES ET ICONOGRAPHIE */

ul {
    font-weight: 100;
}

li {
    list-style: none;
    margin: 1em 0 1em 3em;
}

.logo {
    height: 100%;
}

hr {
    margin: 2em 0;
    border: none;
    height: 1px;
    background-color: #474350;
}

/* FORMULAIRE */

input{
    border: none;
    border-radius: 25px;
    height: 3em;
    width: 30%;
    padding: 0.5em 2em;
}

input[type="radio"]{
    margin-right: 1em;
}

fieldset{
    border: none;
}

button{
    border: none;
}

/* HOVER, FOCUS, ACTIVE */
/* a:hover {
    text-decoration: none;
} */

/* BEFORE ET AFTER */
.usersList::after{
    content: "";
    display: block;
    margin: 2em 0;
    border-bottom: 1px solid #474350;
}

.usersList:last-child::after{
    content: "";
    display: none;
}

/*
*
*
* HEADER
*
*
*/

nav {
    width: 90%;
    height: 10vh;
    margin: auto;
}

nav a {
    color: white;
    padding: 0 3em;
}

/*
*
*
* MAIN
*
*
*/

/* HOME */

main > div:first-child {
    color: white;
    align-items: flex-end;
}

/* #date {
    margin-bottom: 1em;
} */

.showMore {
    text-decoration: none;
    color: #474350;
}

.cardFooter {
    padding: 2em;
    text-align: center;
}

/* LISTE VISITEURS */
.listContainer{
    background-color: white;
    padding: 2em 6em;
}

.listContainer ul > li.flex{
    margin-left: 0;
}

.listContainerBody img{
    width: 3%;
}

.listContainerBody img:last-child{
    height: 40px;
}

/* AJOUT UTILISATEUR */

.formGroup{
    flex-flow: row wrap;
}

.formGroup input{
    border-radius: 0;
    border-bottom: 1px solid red;
}

.formGroupHeader, .formGroupBody{
    background-color: white;
    padding: 2em 6em;
}

.formGroupBody #address{
    flex-direction: column;
    width: 100%;
}

fieldset#position > div:last-child{
    margin-right: 2em;
}